.productCard {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -1px 3px 24px -2px rgba(66, 68, 90, 1);
}

.discriptionStyle {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: auto;
}

@media (max-width: 768px) {
  .productCard {
    width: 300px;
    height: 420px;
  }
}

@media (max-width: 480px) {
  .productCard {
    width: 280px;
    height: 400px;
  }
}
