.productCard {
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: -1px 3px 24px -2px rgba(66, 68, 90, 1);
}
