$main-color: #6e5f5b;
$secondary-color: #d2b305;

.deleteButton {
  background: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.favourite {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: $main-color;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}

.favouriteActive {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: $secondary-color;
  transition: color 0.3s ease;
}
